.media {
    min-height: 91vh;
    background-color: rgba(106, 116, 123, 0.628);
    display: flex;
    justify-content: center;
    align-items: center;
}
.media .media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media .media-container img {
    width: 65%;
    height: 450px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition-property: all;
    transition-duration: 1s;
}
.media .media-container .options {
    width: 25%;
    z-index: 10;
}
.media .media-container .options .item {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.media .media-container .options .item :hover {
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    color: blue;
}
@media (max-width: 800px) {
    .media {
        padding: 10px;
    }
    .media .media-container {
        flex-direction: column;
    }
    .media .media-container img {
        margin: 20px 0px;
        width: 100%;
    }
    .media .media-container .options {
        margin-top: 10px;
        width: 100%;
    }
}