/*--------------------------- Page inscription -------------------------------*/
.inscription button {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0170b9 ;
    color: white;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}
.inscription button:hover {
    background-color: #d09800;
    color: white;
}
.inscription .inscriptionbutton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.inscription .i {
    color: #0170b9;
    text-decoration: underline;
}
.inscription .i:hover {
    color: #d09800;
    font-weight: bold;
    cursor: pointer;
}

/*----------------------------------- Pages Login et Register -----------------------------------*/
.register{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    height: auto;
    padding: 20px;
    position: relative; /* Ajout de cette ligne pour définir le contexte de positionnement */
    background-color: rgba(242, 239, 239, 0.806);
}

.register .register-form {
    min-height: 85%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}
.registerbutton {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #00a300 ;
    color: white;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}
.registerbutton:hover {
    background-color: #d09800;
}
.register .do-hover:hover {
    color: #d09800;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .register .register-form {
        width: 100%;
        background : none;
    }
}

/* Média query pour les écrans moyens */