/* -------------------------------- Section Eglise --------------------------------------------------*/
.section-eglise {
    width: 100%;
    background-color: azure;
}
.section-eglise .titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section-eglise .titre h2 {
    display: inline-block;
    width: 500px;
}
.section-eglise .titre p {
    width: 500px;
    text-align: justify;
}
.section-eglise .items {
    width: 100%;
}
.section-eglise .items .item {
    width: 47%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 35px;
}
.section-eglise .items .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.section-eglise .items .item button {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
.section-eglise .items .item button:hover {
    transition-property: all;
    transition-duration: 0.3s;
    background : none;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
/*---------------------------------- Page eglises et federations ----------------------------------------*/
.eglises {
    margin-top: 150px;
    margin-bottom: 25px;
}
.eglises .couvecture {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;
}
.eglises .couvecture::before {
    content: "Nos eglises et fédérations";
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(44, 115, 174, 0.358); /* Couleur de fond avec opacité */
}
.eglises .presentation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eglises .presentation >* {
    display: inline-block;
    width: 45%;
    text-align: justify;
}
.eglises .all-eglises .eglise {
    width: 48%;
    min-height: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    transition-property: all;
    transition-duration: 0.5s;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.eglises .all-eglises .eglise:hover {
    cursor: pointer; 
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}
.eglises .search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.eglises .search input {
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding: 0px 10px;
}
.eglises .search button {
    width: 300px ;
    height: 50px;
    padding: 7px;
    border-radius: 5px;
    background-color: #00a300 ;
    color: white;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}
.eglises .search button:hover {
    background-color: #d09800;
}
@media (max-width: 900px) {
    .eglises .presentation {
        flex-direction: column;
    }
    .eglises .presentation >* {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .eglises .all-eglises .eglise {
        margin: 15px auto;
        width: 95%;
    }
    .eglises .search > * {
        margin-bottom: 15px;
    }
}