.presentation-communautaire {
    margin-top: 140px;
    min-height: 50vh;
}
.presentation-communautaire .presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.presentation-communautaire .presentation-container .carousel-communautaire {
    width: 50%;
}
@media (max-width: 700px) {
    .presentation-communautaire .presentation-container {
        flex-direction: column;
    }
    .presentation-communautaire .presentation-container .carousel-communautaire {
        width: 100%;
    }
}
.presentation-communautaire .presentation-container .carousel-communautaire .item {
   width: 100%;
   height: 400px;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: flex-end;
   border-radius: 10px;
}
.presentation-communautaire .presentation-container .carousel-communautaire .item div {
    z-index: 10;
}
.presentation-communautaire .presentation-container .carousel-communautaire .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Couleur de fond avec opacité */
}