.header-contact
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: blue;
    color: white;
}
.header-contact b 
{
    display: inline-block;
    flex: 1;
}
.header-contact b:hover 
{
    text-decoration: underline;
    cursor: pointer;
}
.header-contact .icone
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header-nav .item 
{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: blue;
}
.header-nav .item:hover , .header-nav div:hover {
    cursor: pointer;
}