.logo {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.logo:hover {
    cursor: pointer;
    color: black;
}
.link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.5s;
}
.link:hover {
    color: black;
}
/* Média query pour les écrans plus petits */
@media only screen and (max-width: 500px) {
    .logo {
        font-size: 12px;
        text-align: center;
    }
}

/* Média query pour les écrans moyens */
@media only screen and (max-width: 992px) {
    .logo {
        font-size: 15px;
    }
}