.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    height: auto;
    padding: 20px;
    position: relative; /* Ajout de cette ligne pour définir le contexte de positionnement */
    background-color: rgba(242, 239, 239, 0.806);
}

.contact .contact-form {
    min-height: 85%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}

@media (max-width: 768px) {
    .contact .contact-form {
        width: 100%;
        background : none;
    }
}

/* Média query pour les écrans moyens */
